h1 {
    color:green;
}
div#content {
    background-color:green;
    border-style:groove;
    }
    div#navigation{
        background-color:orange;
        border-style:double;    
    } 
    div.rocks{
        background-color:blue;
    }
    
    img {
        background-color:white;
    }
    span.tagline{
        background-color:green;
        border-style:dotted;
    }
  
    
    
  