@font-face{
font-family:ChanticleerRoman; 
src: url("/css/CHANTICL.ttf") format("truetype")}


* {
    display:block;
}

lb {
    line-height: 20px;
}

[rendition~="#center"] {
    text-align: center;
}

[rendition~="#x-large"] {
    font-size: 200%;
}

space[quantity="1"] {padding:10px;}


titlePage{font-family:'ChanticleerRoman'}

docTitle[rendition~="#center"] {
    text-align: center;
}

titlePart[type="main"]

titlePart.hi[rendition~="#x-large#uppercase"] {
    font-size: 200%;
}
titlePart.hi.lb.space [dim~="#vertical"][unit~="#line"]
[quantity="1"] {padding:10px;}

titlePart.hi [rendition~="#small#uppercase"] {
font-size:50%;text-transform:uppercase;}

titlePart.hi.lb.space.hi.lb.space 
[dim~="#vertical"][unit~="#line"]
[quantity="1"] {padding:10px;}

titlePart.hi[rendition~="#red#xx-large#uppercase"] {
color:red;font-size:400%;text-transform:uppercase }

titlePart.hi.lb.space.hi.lb.space.hi.lb.space 
[dim~="#vertical"][unit~="#line"]
[quantity="3"] {padding:30px;}

titlePart.hi[rendition~="#large#uppercase"] {
font-size:100%;text-transform:uppercase}

titlePart.hi.lb.space.hi.lb.space.hi.lb.space.hi.space 
[dim~="#vertical"][unit~="#line"]
[quantity="4"] {padding:40px;}

titlePart [rendition~="#uppercase"][type="main"]

titlePart.lb.space [dim~="#vertical"][unit~="#line"]
[quantity="1"] {padding:10px;}

titlePart.hi[rendition~="#red#x-large"] {
color:red;font-size:200%}

titlePart.lb.space.hi.lb.space [dim~="#vertical"][unit~="#line"]
[quantity="1"] {padding:10px;}

titlePart.lb.space.hi.lb.space.space [dim~="#vertical"][unit~="#line"]
[quantity="5"] {padding:50px;}



docImprint [rendition~="#center#uppercase"] {
    text-align:center;text-transform:uppercase
}
docImprint.publisher [rendition~="#red#expanded"] {
color:red;letter-spacing:2px}

docImprint.docDate [when~="1904"] [rendition~="#small"] {
    font-size:50%
}


